<form [formGroup]="registerForm" (ngSubmit)="register()" class="mx-auto" style="width:75%;margin-top:3%;">

    <fieldset>

        <legend class="text-center">Account creation</legend>

        <div class="form-group">

            <label for="InputCompleteName" class="form-label mt-4">Complete name</label>
            <input formControlName="InputCompleteName" type="text" class="form-control"
                id="InputCompleteName" placeholder="Brandon Sanderson">
            <div class="text-danger"
                *ngIf="registerForm.get('InputCompleteName')!.hasError('required') && registerForm.get('InputCompleteName')?.touched">
                <span>Complete name <strong>is required</strong></span>
            </div>

            <label for="InputUsername" class="form-label mt-4">Username</label>
            <input formControlName="InputUsername" type="text" class="form-control"
                id="InputUsername" placeholder="bsand25">
            <div class="text-danger"
                *ngIf="registerForm.get('InputUsername')!.hasError('required') && registerForm.get('InputUsername')?.touched">
                <span>Username <strong>is required</strong></span>
            </div>

            <label for="InputEmail1" class="form-label mt-4">Email address</label>
            <input formControlName="InputEmail1" type="email" class="form-control" id="InputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email">
            <div class="text-danger"
                *ngIf="registerForm.get('InputEmail1')!.hasError('required') && registerForm.get('InputEmail1')?.touched">
                <span>Email <strong>is required</strong></span>
            </div>
            <div class="text-danger"
                *ngIf="registerForm.get('InputEmail1')!.hasError('email') && registerForm.get('InputEmail1')?.touched">
                <span>Email <strong>is invalid</strong></span>
            </div>
            <div><small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small></div>

            <label for="InputEmail2" class="form-label mt-4">Repeat email address</label>
            <input formControlName="InputEmail2" type="email" class="form-control" id="InputEmail1"
                aria-describedby="emailHelp" placeholder="Repeat email">
            <div class="text-danger"
                *ngIf="registerForm.get('InputEmail2')!.hasError('required') && registerForm.get('InputEmail2')?.touched">
                <span>Repeat email <strong>is required</strong></span>
            </div>
            <div class="text-danger"
                *ngIf="registerForm.get('InputEmail2')!.hasError('email') && registerForm.get('InputEmail2')?.touched">
                <span>Repeat email <strong>is invalid</strong></span>
            </div>
            <div class="text-danger" *ngIf="!validemail">
                <span>Both emails <strong>need to match</strong></span>
            </div>

            <label for="InputPassword1" class="form-label mt-4">Password</label>
            <input formControlName="InputPassword1" type="password" class="form-control"
                id="InputPassword1" placeholder="Password">
            <div class="text-danger"
                *ngIf="registerForm.get('InputPassword1')?.hasError('required') && registerForm.get('InputPassword1')?.touched">
                <span>Password <strong>is required</strong></span>
            </div>
            <div class="text-danger"
                *ngIf="registerForm.get('InputPassword1')?.hasError('minlength') && registerForm.get('InputPassword1')?.touched">
                <span>Password <strong>minimum length is 8</strong></span>
            </div>

            <label for="InputPassword2" class="form-label mt-4">Repeat password</label>
            <input formControlName="InputPassword2" type="password" class="form-control"
                id="InputPassword2" placeholder="Password">
            <div class="text-danger"
                *ngIf="registerForm.get('InputPassword2')?.hasError('required') && registerForm.get('InputPassword2')?.touched">
                <span>Repeat password <strong>is required</strong></span>
            </div>
            <div class="text-danger"
                *ngIf="registerForm.get('InputPassword2')?.hasError('minlength') && registerForm.get('InputPassword2')?.touched">
                <span>Repeat password <strong>minimum length is 8</strong></span>
            </div>
            <div class="text-danger" *ngIf="!validpw">
                <span>Both passwords <strong>need to match</strong></span>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Create Account!</button>

    </fieldset>

</form>