<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Searching summoner</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text text-center">
                    <h3>Alistats</h3>
                    <p></p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/home"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/?hl=es"><i class="icon ion-social-instagram"></i></a></div>
                <p class="copyright">Contact: alistats@gmail.com</p>
            </div>
            <p class="copyright">Alistats © 2022</p>
        </div> 
    </footer>
</div>